//registry.npmjs.org/:_authToken=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
registry=https://packages.aliyun.com/6343b75c67fa83af64bcd3bf/npm/npm-registry
//packages.aliyun.com/6343b75c67fa83af64bcd3bf/npm/npm-registry/:_authToken=5c17abfe-275f-4b2d-a4d5-418c9b168084
always-auth=true
//packages.aliyun.com/6343b75c67fa83af64bcd3bf/npm/:_authToken=5c17abfe-275f-4b2d-a4d5-418c9b168084
